*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
  margin-bottom: 50px;
}
form{
  display: flex;
  flex-direction: column;
gap: 20px;
}
input{
  height: 40px;
  padding: 10px;
}
table{
  min-width: 500px;
  margin-top: 20px;
}
thead tr th{
  text-align: left;
  min-width: 167px;
}
td button:last-child{
  margin-left: 10px;
}

